---
import "@docsearch/css";
---

<div id="docsearch"></div>

<script>
  import docsearch from "@docsearch/js";

  docsearch({
    container: "#docsearch",
    appId: "JXZNTZ86UN",
    indexName: "astronvim",
    apiKey: "96faee2ebdaf4a8a66d0f810c635bfec",
    insights: true,
  });
</script>

<style>
  div {
    display: contents;
  }

  div[data-open-modal] {
    width: 100%;
  }

  @media (min-width: 50rem) {
    :global(.DocSearch-Button) {
      width: 100%;
      max-width: 22rem;
    }
  }
</style>
