/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

:root {
  font-family: "Inter", sans-serif;
  --doc-sidebar-width: 250px !important;
  --ifm-color-primary: #61afef;
  --ifm-color-primary-dark: #52a0e0;
  --ifm-color-primary-darker: #4290d0;
  --ifm-color-primary-darkest: #2472b2;
  --ifm-color-primary-light: #70befe;
  --ifm-color-primary-lighter: #80ceff;
  --ifm-color-primary-lightest: #8fddff;
  --ifm-code-font-size: 95%;
}

:root .navbar__title {
  margin-left: 4px;
  font-size: 1.75rem;
}

.social {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0;
}
.social path {
  fill: var(--ifm-color-primary-contrast-foreground);
}

.social:hover path {
  fill: var(--ifm-color-primary);
}

@media screen and (max-width: 996px) {
  .social {
    display: none;
  }
}
