@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --color-accent-200: #76b6ef;
  --color-accent-600: #0072ad;
  --color-accent-900: #003655;
  --color-accent-950: #004e61;
  --color-gray-100: #feeeee;
  --color-gray-200: #f9dcd1;
  --color-gray-300: #e7cfca;
  --color-gray-400: #d2c3c3;
  --color-gray-500: #47494e;
  --color-gray-700: #3a3e47;
  --color-gray-800: #1e222a;
  --color-gray-900: #1a1d23;
  --font-sans: "Inter Variable", sans-serif;
  --font-mono: "JetBrains Mono Variable", monospace;
}

/* Dark mode colors. */
:root {
  font-variant-ligatures: none;
  --sl-color-accent-low: #1a1d23;
  --sl-color-accent: #d597e8;
  --sl-color-accent-high: #76b6ef;
  --sl-color-white: #e0e2e7;
  --sl-color-gray-1: #d9e1e3;
  --sl-color-gray-2: #c5ccce;
  --sl-color-gray-3: #66686d;
  --sl-color-gray-4: #47494e;
  --sl-color-gray-5: #3a3e47;
  --sl-color-gray-6: #1e222a;
  --sl-color-black: #1a1d23;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #f7f8f8;
  --sl-color-accent: #7300b8;
  --sl-color-accent-high: #00508a;
  --sl-color-white: #1c1c1c;
  --sl-color-gray-1: #242629;
  --sl-color-gray-2: #414549;
  --sl-color-gray-3: #545a5f;
  --sl-color-gray-4: #788187;
  --sl-color-gray-5: #a0a7ab;
  --sl-color-gray-6: #d4d7d9;
  --sl-color-gray-7: #f0f0f1;
  --sl-color-black: #f7f8f8;
}
