@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark mode colors. */
:root {
  --sl-color-accent-low: #1a1d23;
  --sl-color-accent: #d597e8;
  --sl-color-accent-high: #76b6ef;
  --sl-color-white: #e0e2e7;
  --sl-color-gray-1: #d9e1e3;
  --sl-color-gray-2: #c5ccce;
  --sl-color-gray-3: #66686d;
  --sl-color-gray-4: #47494e;
  --sl-color-gray-5: #3a3e47;
  --sl-color-gray-6: #1e222a;
  --sl-color-black: #1a1d23;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #f7f8f8;
  --sl-color-accent: #7300b8;
  --sl-color-accent-high: #00508a;
  --sl-color-white: #1c1c1c;
  --sl-color-gray-1: #242629;
  --sl-color-gray-2: #414549;
  --sl-color-gray-3: #545a5f;
  --sl-color-gray-4: #788187;
  --sl-color-gray-5: #a0a7ab;
  --sl-color-gray-6: #d4d7d9;
  --sl-color-gray-7: #f0f0f1;
  --sl-color-black: #f7f8f8;
}
